@model ControleFinanceiro.Models.Aluno

@{
    ViewData["Title"] = "Home Page";
}

@section header{
    <div class="col-sm-6">
        <h1 class="m-0 text-dark">Pagamentos</h1>
    </div><!-- /.col -->
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Pagamentos</li>
        </ol>
    </div><!-- /.col -->
}

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <h3>@Model.Nome</h3>
            </div>
            <div class="box-body">
                <p>
                    <button type="button" class="btn btn-primary" data-bind="click: $root.novoMes"><span class='fa fa-plus-circle'></span> Novo</button>
                </p>
                <div class="row" data-bind="foreach: meses">
                    <div class="col-md-1">
                        <button type="button" class="btn" data-bind="click: $root.abrirModalDadosMes, css: { 'btn-default' : ativo() == false, 'btn-danger' : ativo() == true && pago() == false, 'btn-success' : ativo() == true && pago() == true }">
                            <span style="font-size: 0.9em;" data-bind="text: nome"></span>
                        </button>
                    </div>
                </div>
                <!-- <span style="margin-bottom:2px;" class="label" data-bind="visible: Status() != 2, text:SerialNumber, css: {'label-warning': Status() == 0, 'label-success': Status() == 1}"></span> -->
            </div><!-- /.box-body -->
        </div>
    </div>
</div>


@section Scripts{
@Html.Partial("_DadosMes")
    <script src="~/js/AbrirModalNovo.js"></script>
    <script src="~/plugins/knockoutjs/knockout-3.5.0.js"></script>

    <script type="text/javascript">
        var rotaListar = "@Url.Action("Listar")";
        var urlSalvarMes = "@Url.Action("SalvarMes")";

        var alunoModel = JSON.parse('@Json.Serialize(@Model)');
        console.log(alunoModel);
        var planos = JSON.parse('@Json.Serialize(@ViewBag.Planos)');
        console.log(planos);
        
    </script>
    <script src="~/js/Aluno/modeloPagamentos.js"></script>
}