@model ControleFinanceiro.ViewModels.Financa


@using (Html.BeginForm(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), FormMethod.Post, new { id = "formCrud" }))
{
    <div class="modal-header">
        <h3 class="modal-title" id="myModalLabel">Finanças</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>

    @Html.AntiForgeryToken()

    <br />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QtdAlunosAtivos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QtdAlunosAtivos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorArrecadado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValorArrecadado)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.ValorTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValorTotal)
        </dd>
    </dl>

    <br />

    <div class="modal-footer">
        <input type="button" class="btn btn-default" data-dismiss="modal" value="Fechar">
    </div>
}